body{
    color: #335b6e;
    font-size: 18px;
    line-height: 30px;
    display: block;
    text-align: center;
    background-size: cover;
    background-image: url(images/test3.jpg);
}
a{
    outline: none;
    text-decoration: none;
    color: #F44336;
    text-transform: uppercase;
}
img{
    max-width: 270px;
    display: block;
    margin: 10% auto 65px;
}